    @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
    @import url('https://fonts.cdnfonts.com/css/anurati');

    * {
        font-family: 'Comfortaa', cursive;
    }

    .MuiPaper-root { background-color: transparent !important; }

    /* Website Outlook Gradient */
    body#root-page-mobile.winter,
    body#root-page-mobile.summer,
    body#root-page-mobile.autumn,
    body#root-page-mobile.spring {
        background-image: linear-gradient(183deg, rgb(10, 18, 31), rgb(96, 42, 6) 95%);
    }

    /* Friendlist Transparency */
    ._3TORb { background-color: transparent; }
    ._3zDi- {
        background-image: linear-gradient(to right,#ee9ca7,#ee9ca7,#ffc3a0,#ee9ca7,#ffc3a0,#ffafbd);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: rainbow-animations 2000s linear infinite;
    }

    @keyframes rainbow-animations {
        to {
            background-position: 4500vh;
        }
    }

    @keyframes breathingGradient {
        0% {
            background-position: 100% 0;
        }
        50% {
            background-position: 0 0;
        }
        100% {
            background-position: 100% 0;
        }
    }

    /* User Icons */
    /* Shape */
    .UA3TP ._3tYRU, .UA3TP rect {
        clip-path: circle();
    }
    /* Custom Border Effect */
    .UA3TP::before {
        content: '';
        width: 40px;
        height: 40px;
        background: url("https://i.imgur.com/QwuDBf3.gif") center/cover;
        transform: translate(-4px, -2px);
        z-index: 99999;
        position: absolute;
        pointer-events: none;
    }

    /* Smoothen and hide nuisances */
    .Hkdag { display: none; }
    ._11RkC { display: none; }

    /* User banner */
    #mobile-page #profile-page .section-top .section-top-background {
        background-image: url('https://i.imgur.com/HqnPHz0.png');
        filter: blur(7px);
    }

    .background-avatar {
        display: none;
    }

    /* Username on banner - selfportrait */
    @keyframes combinedAnimation {
        0% {
            color: #db5d51;
            text-shadow: -5px 0 10px rgba(255, 255, 255, 0.5);
            transform: translateX(-100%);
        }
        25% {
            color: #db4b3d;
            text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
            transform: translateX(-50%);
        }
        50% {
            color: #fff;
            text-shadow: 5px 0 10px rgba(255, 255, 255, 0.5);
            transform: translateX(0);
        }
        75% {
            color: #db4b3d;
            text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
            transform: translateX(50%);
        }
        100% {
            color: #db5d51;
            text-shadow: -5px 0 10px rgba(255, 255, 255, 0.5);
            transform: translateX(100%);
        }
    }

    #mobile-page #profile-page .section-top .username h1 a {
        animation: combinedAnimation 8s linear infinite;
    }

    .MuiGrid-spacing-xs-2 > .MuiGrid-item {
        background-color: transparent;
    }

    @keyframes dragonbreathing {
        0% {
            box-shadow: 0 3px 6px rgba(254, 122, 33, 0.4);
        }
        50% {
            box-shadow: 0 8px 14px rgba(234, 12, 16, 0.5);
        }
        100% {
            box-shadow: 0 3px 6px rgba(254, 122, 33, 0.4);
        }
    }

    .MuiCard-root {
        background-color: rgba(10, 18, 31, 0.5) !important;
        border-radius: 65px !important;
        padding: 16px;
        color: #fff;
        box-shadow: 0 4px 8px rgba(254, 122, 33, 0.4);
        animation: dragonbreathing 6s infinite; /* Adjust the duration as needed */
    }
